In [1]:
# List Comprehension
# Convert the following loops into single-line loop (list comprehension)

In [15]:
import random
import numpy as np

In [28]:
text = ["Promising", "Yves", "that", "home", "on", "Nobb"]

for word in text:
  print(word[0])

P
Y
t
h
o
N

In [33]:
txt = [print(letter[0]) for letter in text]

P
Y
t
h
o
N

In [23]:
newlist = [""]*10

for i in range(10):
  if i%2==1:
    newlist[i] = "Odd"
  else:
    newlist[i] = i

newlist

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [25]:
nl = ["Odd" if i%2==1 else i for i in range(10)]
nl

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [17]:
# Repeat without using numpy
x1 = np.linspace(-3,3,11)
y1 = x1**2

print(x1)
print(y1)

[-3.  -2.4 -1.8 -1.2 -0.6  0.   0.6  1.2  1.8  2.4  3. ]
[9.   5.76 3.24 1.44 0.36 0.   0.36 1.44 3.24 5.76 9.  ]

In [34]:
xx = [ i/(5/3) for i in range(-5,6)]
yy = [i**2 for i in xx]

print(xx)
print(yy)

[-3.0, -2.4, -1.7999999999999998, -1.2, -0.6, 0.0, 0.6, 1.2, 1.7999999999999998, 2.4, 3.0]
[9.0, 5.76, 3.2399999999999993, 1.44, 0.36, 0.0, 0.36, 1.44, 3.2399999999999993, 5.76, 9.0]