In [ ]:
# Compute the mean of var

In [37]:
var = [10,20,30,20.5,-4]

In [38]:
total_sum = 0

In [39]:
for a in var:
  total_sum += a

In [40]:
print(total_sum)

76.5

In [41]:
items = 0

In [42]:
for i in var:
  if i >= items or i <= items:
    items += 1

In [43]:
print(items)

5

In [44]:
avg = total_sum / items

In [45]:
print("The mean of var is " + str(avg))

The mean of var is 15.3