In [1]:
# Print out each letter of the alphabet with its ordinal position

In [ ]:
import numpy as np
import string

In [ ]:
a = [char for char in string.ascii_lowercase]
count = 0
var1 = "st"
var2 = "nd"
var3 = "rd"
var4 = "th"

for i in a:
  for j in i:
    count += 1

    if count == 1 or count == 21 :
      n = str(count) + var1

    elif count == 2 or count == 22:
      n = str(count) + var2

    elif count == 3 or count == 23:
      n = str(count) + var3

    else:
      n = str(count) + var4

    print(f"{i} is the {n} letter.")

a is the 1st letter.
b is the 2nd letter.
c is the 3rd letter.
d is the 4th letter.
e is the 5th letter.
f is the 6th letter.
g is the 7th letter.
h is the 8th letter.
i is the 9th letter.
j is the 10th letter.
k is the 11th letter.
l is the 12th letter.
m is the 13th letter.
n is the 14th letter.
o is the 15th letter.
p is the 16th letter.
q is the 17th letter.
r is the 18th letter.
s is the 19th letter.
t is the 20th letter.
u is the 21st letter.
v is the 22nd letter.
w is the 23rd letter.
x is the 24th letter.
y is the 25th letter.
z is the 26th letter.